.Card-class {
    border: 1px;
    border-style: solid;
    border-color: grey;
    margin-left: 3px;
}

.Useberry-item-container {
    list-style: none;
}

.Useberry-item {
    margin-left: -30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Save-button {
    width: 50px;
    align-self: center;
    margin-top: 100px;
}